footer {
  background: rgb(36, 35, 35);
  color: white;
  padding-inline: 2rem;
}

.tickets {
  display: flex;
  justify-content: center;
  &__button {
    background: orange;
    border-radius: 90px;
    padding-inline: 2rem;
    padding-block: 1rem;
    font-size: 2rem;
    border: none;
    margin-block-start: -30px; // revoir les unités de mesure
  }
}

.partners {
  display: flex;
  img {
    // casse le responsive parce que je dois mettre des vraies tailles à mes images
    max-width: 20%;
  }
}
