footer {
  background: var(--footer-color);
  color: white;
  padding-inline: 2rem;
}

.tickets {
  display: flex;
  justify-content: center;
  &__button {
    background: var(--cta1-color);
    color: white;
    border-radius: 90px;
    padding-inline: 2rem;
    padding-block: 1rem;
    font-size: 2rem;
    border: none;
    margin-block-start: -30px; // revoir les unités de mesure
    text-transform: lowercase;
  }
}

.localisation__map {
  display: none;
}

.partners {
  // revoir en mobile : créer deux div ?
  //display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
  padding-block: 1rem;
  img {
    // casse le responsive parce que je dois mettre des vraies tailles à mes images
    max-width: 80%;
    fill: white; // ne fonctionne pas ? On peut modifier le svg par feuille de style si celui-ci est inséré dans la page (entre des balises svg), mais pas si celui-ci est référencé comme image.
  }
}

.social__content {
  display: flex;
}

@media screen and (min-width: 650px) {
  .localisation {
    display: flex;
    gap: 2rem;
    align-items: end;
  }
  .partners {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
  }
}

@media screen and (min-width: 1000px) {
  .localisation__map {
    display: block;
  }
}
