footer {
  background: var(--footer-color);
  color: white;
  padding-inline: 2rem;
}

.tickets {
  display: flex;
  justify-content: center;
  &__button {
    background: var(--cta-color);
    color: white;
    border-radius: 90px;
    padding-inline: 2rem;
    padding-block: 1rem;
    font-size: 2rem;
    border: none;
    margin-block-start: -30px; // revoir les unités de mesure
  }
}

.partners {
  // revoir en mobile : créer deux div ?
  display: flex;
  justify-content: space-between;
  img {
    // casse le responsive parce que je dois mettre des vraies tailles à mes images
    max-width: 10%;
  }
}
