.mobile_nav {
  margin: 1rem;
  margin-block-end: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //border: 2px solid pink;
  position: relative;

  h1 {
    font-size: 1px;
    align-self: start;
    //margin-block-start: -1rem;
  }
  img {
    width: 10rem;
  }
  &__menu {
    display: flex; // p-e pas en fait ...
    justify-content: space-between;
    gap: 1rem;
    align-items: start;
  }
  &__icons {
    display: flex;
    font-size: 1px;
    &--schedule::before {
      // mais c'est cliquable en élément before du li ? non hein, je devrais mettre dans le a, un bien dans un <i> élément icon // fontawesome lui-même dans le <a> et donc cliquable ???
      font-family: "codeconf" !important;
      font-size: 1.5rem;
      content: "\e93f  ";
      color: var(--footer-color);
      padding-inline-start: 1rem;
    }
    &--menu::before {
      font-family: "codeconf" !important;
      font-size: 1.5rem;
      content: "  \e93e";
      color: var(--footer-color);
      padding-inline-start: 1rem;
    }
  }
  &__overlay {
    background: var(--main-color);
    //display: none;
    display: flex; // mis la classe hidden dessus
    margin: -1rem;
    z-index: 30;
    //margin-inline-end: -11rem;
    position: absolute;
    color: white;
    height: 400px;
    //width: 0;
    //overflow: hidden;
    font-family: "museo";
    inset: 0;
    padding-block-end: 1rem;
    padding-inline: 1rem;
    flex-direction: column;
    &--header {
      display: flex;
      justify-content: space-between;
      padding-block: 1rem;
    }
    &--items {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: end;
      font-size: 1.7rem; // bon, tout est cassé, mais on est vendredi et je manque de sommeil donc tant pis <3
    }
    &--item {
      //display: flex;
      color: white;
      font-family: "museo";
      list-style: none;
      padding: 0.3rem;
    }
  }
}

.logo_mobile {
  font-family: 1px;
}

.mobile_close_menu {
  align-self: center;
  font-size: 1px;
  &::before {
    font-family: "codeconf" !important;
    font-size: 1.5rem;
    content: "\e93f  ";
    color: var(--cta2-color);
  }
}

.desktop_nav {
  margin: 1rem;
  display: none;
  justify-content: space-between;
  //border: 2px solid pink;
  h1 {
    font-size: 0;
  }
  img {
    width: 15rem;
  }
  &__menu {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    align-items: center;
    &-item {
      transition: all 0.2s;

      &:hover {
        color: var(--cta2-color);
      }
    }

    &-list {
      display: flex;
      gap: 1rem;

      & > *:not(:last-child)::after {
        content: " ｜"; // yeah ça marche ! juste le problème c'est qu'en hover j'aimerais que ces éléments là ne prennent pas la couleur définie sur le hover dans menu-item ... c'est un problème pour le moi du futur !
      }
    }
    &-icons {
      display: flex;
      gap: 1rem;
      &--schedule {
        display: flex;
        gap: 1rem;
        transition: all 0.2s;
        &:hover {
          //text-decoration: underline;
          color: var(--cta2-color);
        }
        &::before {
          font-family: "codeconf" !important;
          font-size: 1.5rem;
          content: "\e93f  ";
          color: var(--footer-color);
          &:hover {
            color: var(
              --cta2-color
            ); // ne fonctionne pas en hover sur l'élément before
          }
        }
      }
      &--search {
        font-size: 1px;
        &::before {
          font-family: "codeconf" !important;
          font-size: 1.5rem;
          content: "\e940";
          color: var(--cta1-color);
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .mobile_nav {
    display: none;
  }
  .desktop_nav {
    display: flex;
  }
}
