.mobile_nav {
  margin: 1rem;
  margin-block-end: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //border: 2px solid pink;
  h1 {
    font-size: 1px;
  }
  img {
    width: 10rem;
  }
  &__icons {
    display: flex;
    gap: 2rem;
    font-size: 1px;
    &--schedule::before {
      font-family: 'codeconf' !important;
      font-size: 2.5rem;
      content: "\e93f";
      color: var(--footer-color);
    }
    &--menu::before {
      font-family: 'codeconf' !important;
      font-size: 2.5rem;
      content: "\e93e";
      color: var(--footer-color);
    }
  }
}

.desktop_nav {
  margin: 1rem;
  display: none;
  justify-content: space-between;
  //border: 2px solid pink;
  h1 {
    font-size: 0;
  }
  img {
    width: 15rem;
  }
  &__menu {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    align-items: center;
    &-list {
      display: flex;
      gap: 1rem;
    }
    &-item {
      &::after {
        content: " ï½œ";
      }
    }
    &-icons {
      display: flex;
      gap: 1rem;
      &--schedule::before {
        font-family: 'codeconf' !important;
        font-size: 1.5rem;
        content: "\e93f  ";
        color: var(--footer-color);
      }
      &--search {
        font-size: 1px;
      &::before {
        font-family: 'codeconf' !important;
        font-size: 1.5rem;
        content: "\e940";
        color: var(--cta1-color);
      }
    }}
  }
}

@media screen and (min-width: 1024px) {
  .mobile_nav {
    display: none;
  }
  .desktop_nav {
    display: flex;
  }
}
