.banner {
  position: relative;
  background: var(--gradient-lin);
  margin-block-start: 2rem;
  &::before {
    content: "";
    position: absolute;
    height: 2rem;
    width: 10rem;
    background: url("../images/elts/pattern-stripes-left.png");
    background-size: 10rem 2rem;
    margin-block-start: -1rem;
  }
  &::after {
    content: "";
    position: absolute;
    height: 2rem;
    width: 15rem;
    background: url("../images/elts/pattern-stripes-right.png");
    background-size: 15rem 2rem;
    margin-block-start: -1rem;
    inset-inline: auto 0;
    inset-block: 0 auto;
  }
}

.banner_content {
  display: grid;
  picture {
    display: flex;
    width: 100%;
    margin-block-start: -80px;
    justify-content: center;
    img {
      position: relative;
      margin-inline: 2rem;
      width: 70%;
      z-index: 10;
    }
  }
  &__text {
    display: flex;
    justify-content: center;
    position: relative;
    h2 {
      margin-block-start: -120px;
      padding-inline: 1rem;
      font-size: 3rem;
      color: white;
      z-index: 11;
    }
    p {
      display: none;
      line-height: 2rem;
    }
  }
}

.form_speaker {
  // revoir ici si vmt ce sont les labels qui partent ou bien s'ils sont là sauf le textarea ? perso je trouve ça plus jolie quand les labels ne sont pas là
  display: flex;
  flex-direction: column;
  margin-block: 5rem;
  padding-inline: 2rem;
  align-items: center;
  gap: 1rem;
  h2 {
    font-size: 2.5rem;
    font-weight: 700; // ne fonctionne pas, souci avec ma font variable
    text-transform: uppercase;
    color: var(--main-color);
    text-align: center;
    padding-block: 2rem;
  }
  p {
    text-align: center;
  }
  label {
    font-size: 1px;
  }
  input {
    border: none;
    border-block-end: 1px solid black;
    padding-block: 1rem;
    margin-block-end: 1rem;
    width: 100%;
    font-size: 1.5rem;
  }
  #details {
    border: 1px solid black;
    display: flex;
  }
}

form {
  //display: flex;
  //flex-direction: column;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1rem;
  width: 100%;
  button {
    width: fit-content;
    align-self: center;
    justify-self: center;
    color: var(--cta2-color);
    background: white;
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 50px;
    border: 1.5px solid var(--cta2-color);
    font-size: 1.5rem;
    //margin-block-start: 2rem;
  }
}

.btn-form {
  margin-block: 2rem;
}

.bold_text {
  font-size: 2rem;
  line-height: 2.5rem;
}

.hero {
  background: var(--bg-color);
  margin-block: 0;
  padding-block-start: 3rem;
  padding-block-end: 5rem;
}

.breadcrumb {
  padding-block-end: 2rem;
}

.breadcrumb__list {
  display: flex;
  gap: 1rem;
}

.home {
  font-size: 1px; //lisible accessibilité ?
  &::before {
    font-family: "codeconf" !important;
    font-size: 1rem;
    content: "\e943";
    color: var(--cta1-color);
  }
  &::after {
    content: " ｜";
    font-size: 1rem;
    color: var(--cta1-color);
  }
}

@media screen and (min-width: 650px) {
  /*.banner_content {
    align-items: center;
    picture {
      width: 100%;
      img {
        width: 50%;
      }
    }
  }*/
  .banner {
    &::before {
      height: 3rem;
      width: 17rem;
      background-size: 17rem 3rem;
      margin-block-start: -1.5rem;
    }
    &::after {
      height: 3rem;
      width: 25rem;
      background-size: 25rem 3rem;
      margin-block-start: -1.5rem;
    }
    &_content {
      picture {
        img {
          max-width: 50%;
        }
      }
    }
  }
  form {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .name {
    grid-area: 1/1;
  }
  .mail {
    grid-area: 1/2;
  }
  .short-details {
    grid-area: 3/1/-1/-1;
  }
  .btn-form {
    grid-area: 4/1/-1/-1;
    border-radius: 5rem;
    padding-inline: 1.5rem; // en vrai je devrais variabiliser et calc
    padding-block: 1rem;
    background: white;
  }
}

@media screen and (min-width: 1024px) {
  /*.banner_content {
    flex-direction: row;
    justify-content: center;
    picture {
      width: 30%;
    }
    &__text {
      margin-block-start: 0;
      & p {
        display: block;
      }
    }
  }*/

  .banner_content {
    grid-template-columns: repeat(2, 1fr);
    &__text {
      margin-inline-end: 8rem;
      align-items: start;
      display: flex;
      flex-direction: column;
      h2 {
        margin-block-start: 0;
        //align-self: center;
        padding-inline: 0;
      }
      p {
        display: block;
        color: white;
        font-size: 1.5rem;
      }
    }
  }
}
