/*.wrapper {
  margin: 1rem;
}*/

/*.pattern {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  overflow: hidden;
  & img {
    max-width: 40%;
    max-height: 40%;
  }
    // n'existe plus dans cette version : je vais mettre des pseudo éléments before et after
}*/

.banner_content {
  display: flex;
  flex-direction: column;
  //margin-block-start: -5%;
  overflow: hidden; // à changer quand j'aurai réglé lke souci de l'image du présentateur
  gap: 1rem;
  background: var(--main-color);
  //mettre un gradient linear ici
  &::before {
    content: url("images/elts/pattern_stripes.png"); //ne fonctionne pas, lien ou bien écriture ?
  }
  picture {
    width: 100%;
  }
  &__text {
    color: white;
    align-self: center;
    justify-self: center;
    margin-block-start: -30%;
    & p {
      display: none;
    }
  }
}

.form_speaker {
  // revoir ici si vmt ce sont les labels qui partent ou bien s'ils sont là sauf le textarea ?
  display: flex;
  flex-direction: column;
  margin-block-end: 5rem;
  padding-inline: 2rem;
  align-items: center;
  gap: 1rem;
  label {
    font-size: 0;
  }
  input {
    border: none;
    border-block-end: 1px solid black;
    padding-block: 1rem;
    margin-block-end: 1rem;
    width: 100%;
  }
}

form {
  //display: flex;
  //flex-direction: column;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
  width: 100%;
  button {
    width: fit-content;
    align-self: center;
    //margin-block-start: 2rem;
  }
}

.hero {
  background: var(--bg-color);
  margin-block: 0;
  padding-block: 3rem;
}

.breadcrumb {
  padding-block-end: 2rem;
}

.breadcrumb__list {
  display: flex;
  gap: 1rem;
}

@media screen and (min-width: 600px) {
  .banner_content {
    align-items: center;
    picture {
      width: 50%;
    }
  }
  form {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .name {
    grid-area: 1/1;
  }
  .mail {
    grid-area: 1/2;
  }
  .short-details {
    grid-area: 3/1/-1/-1;
  }
}

@media screen and (min-width: 1024px) {
  .banner_content {
    flex-direction: row;
    justify-content: center;
    picture {
      width: 30%;
    }
    &__text {
      margin-block-start: 0;
      & p {
        display: block;
      }
    }
  }
}
