.banner {
  position: relative;
  background: var(--gradient-lin);
  margin-block-start: 2rem;
  &::before {
    content: "";
    position: absolute;
    height: 3rem; 
    width: 15rem; 
    background: url("../images/elts/pattern-stripes-left.png");
    background-size: 15rem 3rem;
    margin-block-start: -1rem;
  }
}

.banner_content {
  display: grid;
  picture {
  display: flex;
  width: 100%;
  margin-block-start: -80px;
  justify-content: center;
  img {
    position: relative;
    margin-inline: 2rem;
    width: 70%;
  }
  }
  &__text {
    display: flex;
    justify-content: center;
    position: relative;
    h2 {
      margin-block-start: -120px;
      padding-inline: 1rem;
      font-size: 3rem;
      color: white;
    }
    p {
      display: none;
    }
  }
}



.form_speaker {
  // revoir ici si vmt ce sont les labels qui partent ou bien s'ils sont là sauf le textarea ? perso je trouve ça plus jolie quand les labels ne sont pas là
  display: flex;
  flex-direction: column;
  margin-block: 5rem;
  padding-inline: 2rem;
  align-items: center;
  gap: 1rem;
  h2 {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--main-color);
    text-align: center;
  }
  p {
    text-align: center;
  }
  label {
    font-size: 1px;
  }
  input {
    border: none;
    border-block-end: 1px solid black;
    padding-block: 1rem;
    margin-block-end: 1rem;
    width: 100%;
  }
  input[textarea] {
    // ne fonctionne pas, je dois sûrement remettre mes labels pour les 4 premiers champs et bosser cet input seul ??? ou changer ordre commandes ? 
    border: 1px solid black;
  }
}

form {
  //display: flex;
  //flex-direction: column;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1rem;
  width: 100%;
  button {
    width: fit-content;
    align-self: center;
    justify-self: center;
    color: var(--cta2-color);
    background: white;
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 50px;
    border: 1.5px solid var(--cta2-color);
    font-size: 1.5rem;
    //margin-block-start: 2rem;
  }
}

.hero {
  background: var(--bg-color);
  margin-block: 0;
  padding-block: 3rem;
}

.breadcrumb {
  padding-block-end: 2rem;
}

.breadcrumb__list {
  display: flex;
  gap: 1rem;
}

.home {
  font-size: 1px; //lisible accessibilité ? 
  &::before {
    font-family: 'codeconf' !important;
    font-size: 1rem;
    content: "\e943";
    color: var(--cta1-color);
  }
  &::after { 
    content: " ｜";
    font-size: 1rem;
    color: var(--cta1-color);
  }
}

@media screen and (min-width: 650px) {
  /*.banner_content {
    align-items: center;
    picture {
      width: 100%;
      img {
        width: 50%;
      }
    }
  }*/
  .banner {
    &::before {
      height: 4rem;
      width: 20rem;
      background-size: 20rem 4rem;
      margin-block-start: -2rem;
    }
  }
  form {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .name {
    grid-area: 1/1;
  }
  .mail {
    grid-area: 1/2;
  }
  .short-details {
    grid-area: 3/1/-1/-1;
  }
  .btn-form {
    grid-area: 4/1/-1/-1;
    border-radius: 5rem;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    background: white;
  }
}

@media screen and (min-width: 1024px) {
  /*.banner_content {
    flex-direction: row;
    justify-content: center;
    picture {
      width: 30%;
    }
    &__text {
      margin-block-start: 0;
      & p {
        display: block;
      }
    }
  }*/
  .banner {
    &::before {
      height: 4rem;
      width: 20rem;
      background-size: 20rem 4rem;
      margin-block-start: -2rem;
    }
  }
  .banner_content {
    grid-template-columns: repeat(2, 1fr);
    &__text {
    margin-inline-end: 6rem;
    align-items: start;
    display: flex;
    flex-direction: column;
    h2 {
      margin-block-start: 0;
      //align-self: center;
      padding-inline: 0;
    }
    p {
    display: block;
    color: white;
    font-size: 1.5rem;
  }
}
}}