*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: "maven-v";
  font-weight: 400; // ne fonctionne pas, gérer la font d'abord
}

img {
  width: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
  font-family: "maven-v";
}

a {
  text-decoration: none;
  padding: 0;
}

button {
  text-transform: uppercase;
  padding: 0;
  font-family: "museo";
}

p {
  font-family: "museo";
  font-weight: 300;
}