.speaker_main {
  padding-inline: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  &__infos {
    margin-block-start: 1rem;
    display: flex;
    flex-direction: column;
    &-name {
      font-size: 1.5rem;
      color: var(--speaker_title_color); // faire une var color title
    }
    &-school {
      font-size: 1.3rem;
      margin-block-end: 1rem;
      color: grey;
      font-family: "maven-v";
    }
  }
  &__portrait {
    display: flex;
    flex-direction: column;
    img {
      width: 50%;
      align-self: end;
      border-radius: 100%;
      margin-block: 1rem;
    }
    a {
      display: none;
    }
  }
}

.speaker_details {
  //display: none;
  padding-block: 1rem;
  background: var(--detail-color);
  padding-inline: 2rem;
  &__name {
    color: var(--speaker_title_color);
  }
  &__description {
    display: flex;
    flex-direction: column;
    p {
      font-size: 1rem;
      padding-block-end: 1rem;
      font-family: "maven-v"; // ne fonctionne pas, voir reset et puissance des sélecteurs : refaire hiérarchie
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    &_practical {
      display: flex;
      gap: 1rem;
      align-items: center;

      &:before {
        font-family: "codeconf" !important;
        //content: "\e900 ｜";
        content: "\e949";
        font-size: 0.7rem; // refaire icomoon, ne fonctionne pas horloge, mais ok si autre code
      }
    }
    &_btn {
      padding-inline: 1rem;
      padding-block: 0.5rem;
      align-self: center;
      height: fit-content;
      background: var(--detail-color);
      border-radius: 50px;
      border: 1px solid var(--cta2-color);
      color: var(--cta2-color);
      font-family: "museo";
    }
  }
}

.hidden {
  // si je veux une transition : changer pour overflow hidden, et jouer sur les height
  display: none;
}

@media screen and (min-width: 650px) {
  .speakers_all {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-inline: 2rem;
  }
  .speaker_main {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    &__portrait {
      position: relative;
      display: flex;
      justify-content: end;
      &::after {
        content: "";
        position: absolute;
        height: 2rem;
        width: 9rem;
        background: url("../images/elts/pattern_stripes.png"); // changer structure container dans html pour mettre ça sur le bon niveau et object fit ?
        background-size: 10rem;
        align-self: end;
      }
      img {
        border-radius: 0;
        width: 100%;
        margin-block-start: 0;
        background: linear-gradient(#00c4c6, #704ffa);
      }
      &:hover {
        a {
          display: flex;
        }
      }
      a {
        display: none; // display none, puis element listener sur main ou image --> ajout classe active on event hover; display flex, ou bien juste opacity en vrai on s'en fou;
        position: absolute;
        inset: 60% 35%;
        border-radius: 360rem;
        background: var(--cta1-color);
        border: none;
        width: fit-content;
        align-self: center;
        color: white;
        padding-inline: 3rem;
        padding-block: 2rem;
        max-width: 3rem;
        justify-content: center;
        font-family: "museo";
        text-align: center;
      }
    }
    &__infos {
      display: flex;
      align-self: start;
      //padding-block-end: 2rem;
    }
  }
  .speaker_details {
    padding-inline: 0.7rem;
    &__name {
      padding-block-end: 2rem;
    }
    &__description {
      padding-block-end: 2rem;
    }
    &__text {
      font-size: 1rem;
      font-family: "maven-v";
    }
    &__footer {
      &_practical {
        font-size: 0.8rem;
      }
      a {
        font-size: 0.7rem;
        padding-inline: 0.6rem;
        padding-block: 0.4rem;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .speakers_all {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding-inline: 2rem;
  }
}
