.speaker_main {
  //border: 1px solid green;
  //background: var(--bg-color);
  &__content {
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
    padding-block-end: 2rem;
    align-items: center;
    background: var(--bg-color);
  }
  &__btn_hover {
    display: none;
  }
  & img {
    width: 20%;
    border-radius: 360px;
    &::after {
      content: url("../images/elts/pattern_stripes.png"); //mauvais chemin ? ou mauvaise syntaxe ? -> rajout psuedo élément image après une image
    }
  }
}

.speaker_detail {
  //onclick display flex ? ou jouer avec la hauteur et les overflow hidden pour mettre des transitions ?
  display: none;
  //display: flex;
  flex-direction: column;
  background: var(--detail-color);
  padding-inline: 1rem;
  padding-block-end: 2rem;
  &__footer {
    display: flex;
    justify-content: space-between;
    button {
      height: fit-content;
      padding-block: 0.5rem;
      padding-inline: 1rem;
      align-self: end;
    }
  }
}

@media screen and (min-width: 650px) {
  .speakers_all {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-inline: 2rem;
  }
  .speaker_main {
    padding: 1rem;
    position: relative;
    &__content {
      display: flex;
      flex-direction: column-reverse;
      padding-block: 0;
      padding-inline: 0;
      & img {
        border-radius: 0;
        width: 100%;
      }
    }
    &__btn_hover {
      display: block;
      border: none;
      word-wrap: wrap;
      width: 4rem;
      height: 4rem;
      border-radius: 100%;
      background: var(--cta1-color);
      color: white;
      position: absolute;
      inset: 30% 40%; //ça marcherait si le bouton était dans la même div que l'image hu hu hu ... go changer la structure de ma carte speaker là
    }
  }
  .speaker_detail {
    &__footer {
      button {
        align-self: center;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .speakers_all {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
// media query : reverse column dans le container lui-même et grid template change sur le parent pour 4 columns
