:root {
  //pas les bonnes valeurs mais comme ça elles sont set
  --bg-color: #f8f8f8;
  --main-color: rgb(95, 23, 238);
  --detail-color: #ffede5;
  --footer-color: #343237;
  --cta1-color: #ff0000;
  --cta2-color: #ff6554;
  --gradient-lin: linear-gradient(
    180deg,
    #6849fa 25%,
    #7d58fb 50%,
    #791bf8 100%
  );
  --speaker_title_color: rgb(48, 48, 112);
  --second-title: rgb(28, 185, 175);
  // size devices
  --tablet: 650px;
  --desktop: 1000px;
}
