:root {
  //pas les bonnes valeurs mais comme ça elles sont set
  --bg-color: #f8f8f8;
  --main-color: rgb(99, 30, 239);
  --detail-color: #ffede5;
  --footer-color: #343237;
  --cta-color: #ff0000;
}
