:root {
  //pas les bonnes valeurs mais comme ça elles sont set
  --bg-color: #f8f8f8;
  --main-color: rgb(95, 23, 238);
  --detail-color: #ffede5;
  --footer-color: #343237;
  --cta1-color: #ff0000;
  --cta2-color: #ff6554;
  --gradient-lin: linear-gradient(180deg, #6849FA 25%, #7D58FB 50%, #791BF8 100%);
}
